GIFT
MD5
RangeToHTML
ufAbout
CCategory
CDdmatch
CDdmatchSubquestion
CEssay
CFilesCollection
CHint
CHTML
CHTMLwoFiles
CMatching
CMatchingSubquestion
CMultichoice
CMultichoiceAnswer
CNumerical
CNumericalAnswer
CNumericalUnit
COrder
COrderSubquestion
CQuestion
CQuestionCollection
CShortanswer
CShortanswerAnswer
CShortanswerHint
CDescription
CTruefalse
ExtendedCollection