Base64
HTMLToClipboard
GIFT
MD5
Moodle2Word
RangeToHTML
RibbonButtons
Strings
UTF8
ufAbout
CCategory
CDdmatch
CDdmatchSubquestion
CEssay
CFilesCollection
CHint
CHTML
CHTMLwoFiles
CMatching
CMatchingSubquestion
CMultichoice
CMultichoiceAnswer
CNumerical
CNumericalAnswer
CNumericalUnit
COrder
COrderSubquestion
CQuestion
CQuestionCollection
CShortanswer
CShortanswerAnswer
CShortanswerHint
CDescription
CTrueFalse
ExtendedCollection